/* last */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: #000;
  background-color: #fff;
}

html {
  font-size: 10px;
  font-variant-ligatures: none;
}

body {
  background-color: #fff;
  color: #000;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  font-family: "Space Mono", monospace;
  padding: 1rem;
  padding-bottom: 6rem;
}

.ready,
.ready a:hover {
  cursor: none;
}

#canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 2;
}

header {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  padding: 1rem 0;
}

header > div {
  justify-content: space-between;
  margin-top: 1rem;
}

header a {
  background-color: blue;
  color: #000;
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  font-style: italic;
  border-radius: 3px;
  user-select: none;
}

#room-num {
  font-size: 1.6rem;
}

h1 {
  font-size: 7rem;
  text-transform: lowercase;
  display: inline-block;
  position: static;
  transform: none;
}

h1_side {
  font-size: 7rem;
  text-transform: lowercase;
  display: inline-block;
  position: absolute;
  transform: rotate(-270deg) translateX(-16%) translateY(44%);
  transform-origin: 0;
}

unused {
  transform: rotate(-90deg) translateX(-100%) translateY(-70%);
}

h1 sup {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  margin-left: 1rem;
  color: #fff;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.8;
}

main {
  font-size: 1.7rem;
}

hr {
  margin: 4rem 0;
  border-bottom: 3px solid #fff;
}

p,
pre {
  margin-bottom: 2rem;
}

p a {
  color: white;
  text-underline-offset: 1px;
  text-decoration-thickness: 4px;
  text-decoration-color: blue;
  transition: text-decoration-thickness ease-out 0.2s;
}

p a:hover {
  text-decoration-color: #fff;
  text-decoration-thickness: 8px;
}

p em {
  font-style: normal;
  background-color: #fff;
  color: #000;
  padding: 0 1rem;
  animation: pulse 1s ease-in-out infinite alternate;
}

pre {
  font-family: "Space Mono", monospace;
  background-color: #222;
  padding: 1.8rem;
  font-size: 1.5rem;
  line-height: 2;
  overflow: auto;
}

.cursor,
.fruit {
  position: absolute;
}

.cursor {
  margin-left: -10px;
  margin-top: -2px;
}

.cursor.self p {
  color: #000;
  font-size: 2rem;
  padding: 0 0.5rem;
}

.cursor img {
  width: 34px;
  height: 46px;
  image-rendering: pixelated;
}

.cursor p {
  text-align: center;
  text-align: left;
  font-size: 1.2rem;
}

.fruit {
  font-size: 3rem;
  animation: drop 3s ease-in forwards;
}

.chatp {
  display: block;
  font-size: 14px;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 77.7em;
  line-height: 1.2em;
  text-align: justify;
  margin-top: 16px;
}
.chatbox {
  float: left;
  width: 80%;
  height: 45px;
  font-family: "Space Mono", monospace;
}
.chatbutton {
  float: right;
  width: 20%;
  height: 45px;
  font-family: "Space Mono", monospace;
}
.smallbutton {
  float: right;
  width: 13%;
  height: 45px;
  font-family: "Space Mono", monospace;
}
.bigbutton {
  float: right;
  width: 33%;
  height: 60px;
  font-family: "Space Mono", monospace;
}
.audiobox {
  float: right;
  width: 10%;
  height: 45px;
  font-family: "Space Mono", monospace;
}

.video-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 120px;
  max-width: 250px;
  margin-left: -30%;
  margin-top: -18px;
}

.handgreen {
  filter: invert(48%) sepia(18%) saturate(3137%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}

.handgray {
  filter: invert(114%) sepia(45%) saturate(3139%) hue-rotate(170deg)
    brightness(95%) contrast(77%);
}
.handoff {
  opacity: 0.2;
}

.sider {
  float: right;
}
.splitleft {
  width: 70%;
  float: left;
}
.splitright {
  width: 30%;
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.iframe {
  border: 0;
  bottom: 10px;
  position: fixed;
  height: 50%;
  left: 0px;
}

@keyframes drop {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10000%);
  }
}

@keyframes pulse {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 12px;
  }
  body {
    padding: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  #list {
    display: none;
  }
  .chatp {
    max-height: 17em;
  }
  .sidenav .closebtn {
    top: -20px;
    right: -5px;
    font-size: 36px;
    margin-left: 50px;
  }
  h1 {
    position: static;
    transform: none;
  }

  .bigbutton {
    float: right;
    width: 45%;
    height: 60px;
    font-family: "Space Mono", monospace;
  }

  #list {
    left: 12% !important;
  }
}

button:hover:disabled {
  background-color: #e2e8f0;
  pointer-events: none;
}
button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

#call {
  max-width: 100rem;
}

#whiteboard {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -10000;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

/* circle list */

#list {
  background-color: transparent;
  height: 70%;
  width: 50%;
  top: 15%;
  left: 20%;
  border-radius: 50%;
  position: fixed;
}

.list-item {
  list-style: none;
  border-radius: 50%;
  border: 4px dotted #d2d2d2;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.list-text {
  text-align: center;
  top: 41%;
  position: relative;
}

.overtop {
  position: relative;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a2a2a2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}

.favcolor{
  height: 30px;
  background: transparent;
  width: 40%;
}